
.liked{

    color: red;
}

.image{

    cursor: pointer;
}
.Txt{
    color: #efc1c1;
}

.contentHeartComment{
    padding: 1rem;
    display: flex;
}

.contentHeartComment span{
    flex-grow: 1;
}
body{
    background-color: #fafafa !important;
}

.delete{

    cursor: pointer;
}
 .ui .card{
box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
 }

  .Imghgt{
    max-height: 245px !important;


  }

 

  

